@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}


<div class="row">
    <div class="column"></div>
    <!-- Picture-->
    <div class="column">
        <img src="~/JoelHilton.jpg" />
    </div>
    <div class="column"></div>
</div> 