@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Podcasts";
}
<div class="row">
    <div class="column"></div>
    <!-- Bacon sale link-->
    <div class="container">
    <div class="column section">
        <a href="https://baconsale.com/">Banconsale Site</a>
    </div>
        </div>
    <div class="column"></div>
</div> 